@model IEnumerable<PythonCarProject.UI.Models.Car>

@{
    ViewData["Title"] = "GetCars";
}
<h1>GetCars</h1>
@foreach (var item in Model)
{
    <div class="container">
        <div class="card" style="width: 20rem;height:35rem; float:left; margin-right:2rem; margin-top:2rem;">
            <img src="@item.ImagePath" class="card-img-top" height="200" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text"><b>Brand:</b> @Html.DisplayFor(modelItem => item.Brand) </p>
                <p class="card-text"><b>Color:</b> @Html.DisplayFor(modelItem => item.Color) </p>
                <p class="card-text"><b>Color:</b> @Html.DisplayFor(modelItem => item.Transmission) </p>
                <p class="card-text"><b>Color:</b> @Html.DisplayFor(modelItem => item.Year) </p>
                <h6 class="card-text"><b>Color:</b> @Html.DisplayFor(modelItem => item.Price) </h6>
            </div>
        </div>
    </div>

}
